.footer {
    background-color: black;
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.footer-title {
    font-weight: 700;
    font-size: 19px;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-socials {
    display: flex;
    padding-bottom: 20px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-socials img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    filter: invert(1) brightness(1.2);
}

.footer-socials img:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}