.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 100%;
    }